.modal {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s ease,
    opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_is-open {
  visibility: visible;
  opacity: 1;
}
.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}
.modal__close-button {
  position: absolute;
  top: 0;
  right: -52.5px;
  width: 40px;
  height: 40px;
  background: transparent url("../images/white_X.svg") center no-repeat;
  background-color: transparent;
  color: #212121;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.modal__close-button:hover {
  opacity: 0.8;
}
.modal__image-container_type_preview {
  position: relative;
}

.modal__title {
  width: 169px;
  height: 32px;
  font-size: 32px;
  color: #212121;
}
.modal__caption {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 214px;

  font-size: 20px;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  padding: 4px 8px;
  gap: 8px;
  display: flex;
  justify-content: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 52px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  color: #212121;
  padding-left: 12px;
  box-sizing: border-box;
}
.modal__input::placeholder {
  color: #2121214d;
}
.modal__submit-button {
  background-color: black;
  color: #fff;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  height: 52px;
  max-width: 156px;
  border: none;
  cursor: pointer;
}
.modal__submit-button:hover {
  opacity: 0.8;
}
.modal__image-container {
  position: relative;
}
.modal__image {
  margin: 0 auto;
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 10px;
  }
  .modal__container {
    padding: 12px;
    margin: 10px;
  }
  .modal__close-button {
    top: -48px;
    right: 12px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__submit-button {
    max-width: 100%;
    width: 100%;
  }
}
